<div class="square-player-directive"
     ng-class="{'reverse': squarePlayerReverse}">

    <!-- Player image -->
    <img ng-src="{{ squarePlayerImage }}">

    <!-- Player name -->
    <span class="player-name"
          ng-class="[squarePlayerColor]">
        {{ squarePlayerName }}
    </span>
</div>