h1.game-title {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    margin          : 0;
}
span.versus {
    color       : @nolan-color-dark-purple;
    font-weight : 800;
    font-size   : 25px;
    padding     : 0 @nolan-space-small;
}
span.winner {
    color       : @nolan-color-label;
    font-weight : 600;
    font-size   : 20px;
    padding     : 0 @nolan-space-small;
}
div.game-board-container {
    display          : flex;
    flex-direction   : column;
    background-color : @nolan-color-white;
    border           : 1px solid @nolan-color-line-rule;
    border-radius    : @nolan-radius;
    width            : 100%;
    div.game-board-header {
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        align-items     : center;
        padding         : @nolan-space-base;
        div.column {
            flex : 1;
            &.column-middle {
                text-align : center;
                div.row {
                    display        : flex;
                    flex-direction : column;
                    align-items    : center;
                    span.laps {
                        font-weight : 400;
                        font-size   : 16px;
                        color       : @nolan-color-label;
                    }
                    timer {
                        font-weight : 400;
                        font-size   : 13px;
                        color       : @nolan-color-label;
                    }
                }
            }
        }
    }
    hr {
        margin : 0;
    }
    div.game-board-body {
        padding    : @nolan-space-base;
        height     : 67vh;
        position   : relative;
        box-sizing : border-box;
        div.begin-container {
            position  : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        }
        div.play-container {
            height : 100%;
            width  : 100%;
            @import (less) "play/play/grid.less";
        }
        div.finished-container {
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
            height          : 100%;
            span.well-done {
                font-weight : 500;
                font-size   : 26px;
                color       : @nolan-color-label;
            }
        }
    }
}