<!-- Subtitle -->
<h2 class="with-icon">
    <img ng-src="images/icons8/nolan/33/Visual-Game-Boy.png">
    <span>{{ 'INIT.TYPE.H2' | translate }}</span>
</h2>

<!-- Form -->
<cozen-form cozen-form-name="type"
            cozen-form-ctrl="type"
            cozen-form-model="form">

    <!-- Game types -->
    <div class="game-types-container">
        <div ng-repeat="gameType in type.gameTypes track by $index"
             ng-class="{'selected': gameType.name == init.configuration.type.gameTypeName}"
             ng-click="type.methods.onClickGameType($event, gameType.name)"
             class="game-type-toast">

            <!-- Column 1 -->
            <div class="game-user-1">
                <img ng-src="{{ gameType.playerOneImage }}">
                <span>{{ gameType.playOneLabel | translate }}</span>
            </div>

            <!-- Column 2 -->
            <div class="game-user-2">
                <img ng-src="{{ gameType.playerTwoImage }}">
                <span>{{ gameType.playTwoLabel | translate }}</span>
            </div>
        </div>
    </div>

    <!-- Next step -->
    <cozen-btn cozen-btn-class="space-medium-before"
               cozen-btn-label="'INIT.TYPE.SUBMIT'"
               cozen-btn-auto-sizing="true"
               cozen-btn-disabled="type.form.type.$invalid"
               cozen-btn-on-click="type.methods.submit()"
               cozen-btn-id="typeSubmit"
               cozen-btn-type-green>
    </cozen-btn>
</cozen-form>