<!doctype html>
<html ng-app="squareApp">
    <head>
        <meta charset="utf-8">
        <title ng-bind="($state.current.data.pageTitle | translate:$state.params) + ' - Square App'">
            Square App
        </title>
        <meta name="description"
              content="">
        <meta name="viewport"
              content="width=device-width">

        <!-- Reset the Browser's own custom CSS -->
        <link rel="stylesheet"
              href="bower_components/cozen-lib/release/optional.reset.min.css">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
              rel='stylesheet'
              type='text/css'>

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
        <link rel='stylesheet' href='bower_components/animate.css/animate.min.css' />
        <link rel='stylesheet' href='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' />
        <link rel='stylesheet' href='bower_components/cozen-lib/release/main.min.css' />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Added the custom CSS -->
        <link rel="stylesheet"
              href="styles/main.min.css">
    </head>
    <body>

        <!-- Navbar -->
        <div ng-include="'views/navbar/navbar.html'"></div>

        <!-- Views -->
        <cozen-view cozen-view-scroll-bar-height="{{ publicData.innerHeight - 72 }}">
            <div class="animated fadeIn"
                 ui-view>
            </div>
        </cozen-view>

        <!-- User feed -->
        <cozen-floating-feed></cozen-floating-feed>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/scrollreveal/dist/scrollreveal.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
        <script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
        <script src="bower_components/angular-uuid-service/angular-uuid-service.js"></script>
        <script src="bower_components/angular-elastic/elastic.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/console.style/console.style.js"></script>
        <script src="bower_components/chance/chance.js"></script>
        <script src="bower_components/cozen-lib/release/clean/main.js"></script>
        <script src="bower_components/cozen-lib/release/clean/template.cache.js"></script>
        <script src="bower_components/cozen-lib/release/clean/directives.js"></script>
        <script src="bower_components/humanize-duration/humanize-duration.js"></script>
        <script src="bower_components/angular-timer/dist/assets/js/angular-timer-all.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Required in first js files -->
        <script src="app.module.js"
                type="text/javascript"></script>
        <script src="app.config.js"
                type="text/javascript"></script>
        <script src="app.run.js"
                type="text/javascript"></script>

        <!-- start-js -->

        <script src="views/init/type/init.type.ctrl.js" type="text/javascript"></script>

        <script src="views/init/level/init.level.ctrl.js" type="text/javascript"></script>

        <script src="views/init/init.router.js" type="text/javascript"></script>

        <script src="views/init/init.ctrl.js" type="text/javascript"></script>

        <script src="views/init/grid/init.grid.ctrl.js" type="text/javascript"></script>

        <script src="views/home/home.router.js" type="text/javascript"></script>

        <script src="views/home/home.ctrl.js" type="text/javascript"></script>

        <script src="views/game/play/play/play.play.ctrl.js" type="text/javascript"></script>

        <script src="views/game/play/game.play.ctrl.js" type="text/javascript"></script>

        <script src="views/game/play/finished/play.finished.ctrl.js" type="text/javascript"></script>

        <script src="views/game/play/begin/play.begin.ctrl.js" type="text/javascript"></script>

        <script src="views/game/game.router.js" type="text/javascript"></script>

        <script src="views/game/game.ctrl.js" type="text/javascript"></script>

        <script src="scripts/factories/goTo.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameWinner.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameTypes.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gamePlayers.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gamePhases.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameLevels.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameInit.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameGrid.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/gameBot.factory.js" type="text/javascript"></script>

        <script src="scripts/directives/square-player/squarePlayer.directive.js" type="text/javascript"></script>

        <!-- end-js -->
    </body>
</html>
